{% extends 'base.html' %} {% block title %}Success{% endblock %} {% block
content %}



 <script src="../static/js/index.js"></script>
<div class="content">
  <h2>Your URL was successfully shortened!</h2>
 <div class="input">
    <a class="btn btn__copy"
      data-clipboard-text="{{ url_for('shorten', _external=True) }}{{ short }}">Copy</a>
    <input type="text" value="{{ short }}" />
    
  </div>
  <div class="original-link">Redirects to: <img
    src="https://www.google.com/s2/favicons?domain={{ url }}"
   height="16px" alt="favicon"
  /> {{ url }}</div>
</div>



{% endblock %}



<!--Original Url: {{url}} <br/>

Short URL: http://www.cc.xyz/{{short}}<br/>
-->
